<html>

<head>
  <title>Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <!-- For DataTables -->
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>

	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
	<div class="limiter">
		<a href="logout">Logout</a>
		<center>
			<h1>Profile page</h1>
		</center>
		<hr />
		<center>
			<h2>Hi <%=user.name%>
			</h2> Your Email Id is <%=user.email%>
		</center>
	</div>


	<div class="container ">


		<table class="table table-bordered" id="myTable">
			<thead>
				<tr>
					<th>Id</th>
					<th>Product</th>
					<th>Data</th>
					<th>Price</th>
					<% if(user.role==='admin'){ %>	<th>Action</th>  <% }
					else{ %>  
					  <div></div>
				   <% } %>
				</tr>
			</thead>
			<tbody>
				<% response.forEach(output=> { %>
					<tr>
						<td>
							<%= output.id %>
						</td>
						<td>
							<%= output.product %>
						</td>
						<td>
							<%= output.data %>
						</td>
						<td>
							<%= output.price %>
						</td>
						<td>
							<% if(user.role==='admin'){ %>
					

							<button type="button" class="update btn btn-warning" data-toggle="modal" data-target="#myModal"
                              id="<%=output._id %>">
								Edit
								</button>
						
							<button type="button" id="<%=output._id %>" class=" delete btn btn-danger"
								value="<%=output._id %>">
								delete
							</button>
						</td>
						<% }
						else{ %>  
							<div></div>
						 <% } %>
					</tr>
					<% }); %>

			</tbody>
		</table>

	</div>	

		<% if(user.role==='admin'){ %>
			<div class="container">
				<div class="row">
					<div class="col-sm-4 curve">
						<form class="validate-form" action="/postCart" method="POST">
							<span class="login100-form-title p-b-26">
								Add List
							</span>
	
							<div class="wrap-input100 validate-input" data-validate="Valid email is: a@b.c">
								<input class="input100" type="number" name="id">
								<span class="focus-input100" data-placeholder="Id"></span>
							</div>
	
							<div class="wrap-input100 validate-input">
								<input class="input100" type="text" name="product">
								<span class="focus-input100" data-placeholder="product"></span>
							</div>
	
							<div class="wrap-input100 validate-input">
								<input class="input100" type="number" name="data">
								<span class="focus-input100" data-placeholder="data"></span>
							</div>
	
							<div class="wrap-input100 validate-input">
								<input class="input100" type="number" name="price">
								<span class="focus-input100" data-placeholder="price"></span>
							</div>
	
							<div class="container-login100-form-btn">
								<div class="wrap-login100-form-btn">
									<div class="login100-form-bgbtn"></div>
									<button class="login100-form-btn" type="submit">
										Add List
									</button>
								</div>
							</div>
						</form>
					</div>
	
	
					<div class="offset-md-3 col-sm-4 curve">
						<form class="validate-form" action="/addUser" method="POST">
							<span class="login100-form-title p-b-26">
								Add User
							</span>
	
							<div class="wrap-input100">
								<input class="input100" type="text" name="name">
								<span class="focus-input100" data-placeholder="Name"></span>
							</div>
	
							<div class="wrap-input100 validate-input" data-validate="Valid email is: a@b.c">
								<input class="input100" type="text" name="email">
								<span class="focus-input100" data-placeholder="Email"></span>
							</div>
	
							<div class="wrap-input100 validate-input" data-validate="Enter password">
								<span class="btn-show-pass">
									<i class="zmdi zmdi-eye"></i>
								</span>
								<input class="input100" type="password" name="password">
								<span class="focus-input100" data-placeholder="Password"></span>
							</div>
	
							<div class="validate-input">
								<select name="role" id="role">
									<option value="admin">Admin</option>
									<option value="user">User</option>
								  </select>
							</div>
	
	
							<div class="container-login100-form-btn">
								<div class="wrap-login100-form-btn">
									<div class="login100-form-bgbtn"></div>
									<button class="login100-form-btn" type="submit">
										Add User
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
		</div> 

		<hr>

		<div class="container" >

				<h1>User List</h1>
			<table class="table table-bordered" id="myTable" style="margin-bottom: 12px;">
				<thead>
					<tr>
						<th>Name</th>
						<th>Email</th>
						<th>Role</th>
					</tr>
				</thead>
				<tbody>
					<% userList.forEach(output=> { %>
						<tr>
							<td>
								<%= output.name %>
							</td>
							<td>
								<%= output.email %>
							</td>
							<td>
								<%= output.role %>
							</td>
							
						</tr>
						<% }); %>
	
				</tbody>
			</table>
	
		</div>	


<hr>


		  <% }
		  else{ %>  
			<div></div>
		 <% } %>


		


	<div class="modal fade" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Modal Heading</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
              <div class="container">
                <h2>Edit Data</h2>
                <form action="/update_user" method="PUT" id="update_user">

                  <div class="form-group">
                    <label for="name">Id:</label>
                    <input type="number" class="form-control input" class="" id="update_id" placeholder="Enter Id" name="id"
                      disabled>
                  </div>
                  <div class="form-group">
                    <label for="text">Product:</label>
                    <input type="text" class="form-control input" id="update_product" placeholder="Enter product" name="product">
                  </div>
                  <div class="form-group">
                    <label for="phone">Data:</label>
                    <input type="number" class="form-control input" id="update_data" placeholder="Enter data" name="data">
                  </div>
				  <div class="form-group">
                    <label for="price">Price:</label>
                    <input type="number" class="form-control input" id="update_price" placeholder="Enter price" name="price">
                  </div>

                </form>
              </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              <button type="submit" id="update_table" class="btn btn-primary">update</button>
            </div>

          </div>
        </div>
	</div>


      <!--===============================================================================================-->
      <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
      <!--===============================================================================================-->
      <script src="vendor/animsition/js/animsition.min.js"></script>
      <!--===============================================================================================-->
      <script src="vendor/bootstrap/js/popper.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
      <!--===============================================================================================-->
      <script src="vendor/select2/select2.min.js"></script>
      <!--===============================================================================================-->
      <script src="vendor/daterangepicker/moment.min.js"></script>
      <script src="vendor/daterangepicker/daterangepicker.js"></script>
      <!--===============================================================================================-->
      <script src="vendor/countdowntime/countdowntime.js"></script>
      <!--===============================================================================================-->
      <script type="text/javascript" src="../js/delete.js"></script>
      <script type="text/javascript" src="../js/update.js"></script>
</body>

</html>